* {
    box-sizing: border-box;
}
body {
    background-color: #090A0E;
    color: #ffffff;
}

.center-max-size {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-transform: uppercase;
}